@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

 <body>
        <div class="auth-bg-basic d-flex align-items-center min-vh-100">
            <div class="bg-overlay bg-light"></div>
            <div class="container">
                <div class="d-flex flex-column min-vh-100 py-5 px-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-5">
                            <div class="text-center text-muted mb-2">
                                <div class="pb-3">
                                    <a href="index.html">
                                        <span class="logo-lg">
                                            <img src="~/assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Work Order Online</span>
                                        </span>
                                    </a>
                                    <p class="text-muted font-size-15 w-75 mx-auto mt-3 mb-0">@Model.Input.Translation.Slogan</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-transparent shadow-none border-0">
                                <div class="card-body">
                                    <div class="py-3 text-center">
                                        <div class="avatar-lg mx-auto">
                                            <div class="avatar-title bg-soft-primary text-primary display-5 rounded-circle">
                                                <i class="uil uil-annoyed-alt"></i>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4 pt-2">
                                            <h4 class="text-danger">@Model.Input.Translation.AccessDenied</h4>
                                            <p>@Model.Input.Translation.AccessDeniedText</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->

                    <div class="row">
                    <div class="col-xl-12">
                        <div class="mt-4 mt-md-5 text-center">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> workorder.online.</p>
                        </div>
                    </div>
                </div> <!-- end row -->
                    
                </div>
            </div>
            <!-- end container fluid -->
        </div>
        <!-- end authentication section -->
    </body>
