@model WorkOrder.Online.Models.OrganizationSelectorViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@if (Model.disabled)
{
    <select id="@Model.UniqueId" class="form-control custom-select" asp-for="SelectedOrganizationId"
            asp-items="Model.Organizations" disabled>
        <option value="">@Localizer["SelectOption"]</option>
    </select>
}
else
{
    <select id="@Model.UniqueId" class="form-control custom-select auto-complete" asp-for="SelectedOrganizationId"
            asp-items="Model.Organizations">
        <option value="">@Localizer["SelectOption"]</option>
    </select>
}

<span asp-validation-for="SelectedOrganizationId" class="text-danger"></span>